<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">

            {%csrf_token%}

            <label for="">enter number1</label>
            <input type="text" name="box1" required>

            <label for="">enter number2</label>
            <input type="text" name="box2" required>

            <button class="submit">Add</button>

            {{output}}

        </form>
    </div>
    
</body>
</html>